In [13]:
import sys
sys.path.append('/home/maximilian.hofmann/ff_utils/src')

from importlib import reload

In [14]:
from google_utils import BigQuery

In [15]:
bg = BigQuery()

# OTTER DATA

In [16]:
# Drop Dedupe Staging Table
bg.run_query('DROP TABLE IF EXISTS `css-operations.brand_science_stag.pricing_otter_data_deduped`;')

Empty DataFrame
Columns: []
Index: []

In [17]:
# Create New Deduped Table
bg.run_query('''
CREATE OR REPLACE TABLE `css-operations.brand_science_stag.pricing_otter_data_deduped`
(
  month TIMESTAMP,
  brand_name STRING,
  is_ff_brand BOOLEAN,
  facility_id STRING,
  latitude FLOAT64,
  longitude FLOAT64,
  timezone STRING,
  country_code STRING,
  store_id STRING,
  item_id STRING,
  item_name STRING,
  normalized_item_name STRING,
  clean_name STRING,
  currency_code STRING,
  number_of_days INTEGER,
  total_qty_ordered INTEGER,
  total_orders INTEGER,
  quantity_per_day FLOAT64,
  quantity_per_order FLOAT64,
  price FLOAT64,
  item_count FLOAT64,
  drink_qty STRING,
  weight STRING,
  _loaded_at TIMESTAMP,
  unique_key STRING,
  row_number INTEGER
)
CLUSTER BY
  country_code, month
AS
SELECT
    *,
    ROW_NUMBER()
        OVER (PARTITION BY unique_key)
        row_number
FROM `css-operations.brand_science.pricing_otter_data`
WHERE TRUE
QUALIFY row_number = 1;
''')

Empty DataFrame
Columns: []
Index: []

In [18]:
# Drop Production Table
bg.run_query('DROP TABLE IF EXISTS `css-operations.brand_science.pricing_otter_data`')

Empty DataFrame
Columns: []
Index: []

In [19]:
# Create new deduped production table
bg.run_query('''
CREATE OR REPLACE TABLE `css-operations.brand_science.pricing_otter_data`
(
  month TIMESTAMP,
  brand_name STRING,
  is_ff_brand BOOLEAN,
  facility_id STRING,
  latitude FLOAT64,
  longitude FLOAT64,
  timezone STRING,
  country_code STRING,
  store_id STRING,
  item_id STRING,
  item_name STRING,
  normalized_item_name STRING,
  clean_name STRING,
  currency_code STRING,
  number_of_days INTEGER,
  total_qty_ordered INTEGER,
  total_orders INTEGER,
  quantity_per_day FLOAT64,
  quantity_per_order FLOAT64,
  price FLOAT64,
  item_count FLOAT64,
  drink_qty STRING,
  weight STRING,
  _loaded_at TIMESTAMP,
  unique_key STRING,
)
CLUSTER BY
  country_code, month
AS
SELECT
  month,
  brand_name,
  is_ff_brand,
  facility_id,
  latitude,
  longitude,
  timezone,
  country_code,
  store_id,
  item_id,
  item_name,
  normalized_item_name,
  clean_name,
  currency_code,
  number_of_days,
  total_qty_ordered,
  total_orders,
  quantity_per_day,
  quantity_per_order,
  price,
  item_count,
  drink_qty,
  weight,
  _loaded_at,
  unique_key
    
FROM `css-operations.brand_science_stag.pricing_otter_data_deduped`
''')

Empty DataFrame
Columns: []
Index: []

# OFO SCRAPE DATA

In [20]:
# Drop Dedupe Staging Table
bg.run_query('DROP TABLE IF EXISTS `css-operations.brand_science_stag.pricing_ofo_scrape_data_deduped`')

Empty DataFrame
Columns: []
Index: []

In [21]:
# Create New Deduped Table
bg.run_query('''
CREATE OR REPLACE TABLE `css-operations.brand_science_stag.pricing_ofo_scrape_data_deduped`
(
  month TIMESTAMP,
  item_id STRING,
  item_name STRING,
  clean_name STRING,
  price FLOAT64,
  currency_code STRING,
  item_count FLOAT64,
  drink_qty STRING,
  weight STRING,
  store_name STRING,
  external_store_id STRING,
  categories STRING,
  primary_cuisine STRING,
  latitude FLOAT64,
  longitude FLOAT64,
  city STRING,
  country_code STRING,
  service_slug STRING,
  source STRING,
  _loaded_at TIMESTAMP,
  unique_key STRING,
  row_number INTEGER
)
CLUSTER BY
  country_code, month
AS
SELECT
    *,
    ROW_NUMBER()
        OVER (PARTITION BY unique_key)
        row_number
FROM `css-operations.brand_science.pricing_ofo_scrape_data`
WHERE TRUE
QUALIFY row_number = 1
''')

Empty DataFrame
Columns: []
Index: []

In [22]:
# Drop Production Table
bg.run_query('DROP TABLE IF EXISTS `css-operations.brand_science.pricing_ofo_scrape_data`')

Empty DataFrame
Columns: []
Index: []

In [23]:
# Create new deduped production table
bg.run_query('''
CREATE OR REPLACE TABLE `css-operations.brand_science.pricing_ofo_scrape_data`
(
  month TIMESTAMP,
  item_id STRING,
  item_name STRING,
  clean_name STRING,
  price FLOAT64,
  currency_code STRING,
  item_count FLOAT64,
  drink_qty STRING,
  weight STRING,
  store_name STRING,
  external_store_id STRING,
  categories STRING,
  primary_cuisine STRING,
  latitude FLOAT64,
  longitude FLOAT64,
  city STRING,
  country_code STRING,
  service_slug STRING,
  source STRING,
  _loaded_at TIMESTAMP,
  unique_key STRING,
)
CLUSTER BY
  country_code, month
AS
SELECT
  month,
  item_id,
  item_name,
  clean_name,
  price,
  currency_code,
  item_count,
  drink_qty,
  weight,
  store_name,
  external_store_id,
  categories,
  primary_cuisine,
  latitude,
  longitude,
  city,
  country_code,
  service_slug,
  source,
  _loaded_at,
  unique_key
    
FROM `css-operations.brand_science_stag.pricing_ofo_scrape_data_deduped`
''')

Empty DataFrame
Columns: []
Index: []